<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Java Backend L2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
        <form action="/updateemployee">
            <table>
                <tr>
                <h2>Update Employee</h2>                    
                </tr>
                <tr>
                    <td>RFC :</td>
                    <td><input type="text" name="rfctxt" maxlength="13"></td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td><input type="text" name="nametxt"></td>
                </tr>
                <tr>
                    <td>LastName :</td>
                    <td><input type="text" name="lasttxt"></td>
                </tr>
                <tr>
                    <td>BirthDate :</td>
                    <td><input type="date" name="birthdatetxt"></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><input type="email" name="emailtxt"></td>
                </tr>
                <tr>
                    <td>Cellphone :</td>
                    <td><input type="text" name="cellphonetxt"></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-success">Update</button></td>
                </tr>
            </table>
        </form>
    </center>
    </body>
</html>
